@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(250, 248, 248);
}

.main-component{
    padding: 20px;
    background-color: white;
}

.secondary-button{
    background-color: rgb(250, 248, 248);
    padding: 4px 8px;
    width: 100%;
    font-size: 1em;
    font-weight: 600;
}

.main-button{
    background-color: black;
    color: white;
    padding: 4px 8px;
    width: 100%;
    font-size: 1em;
    font-weight: 600;
}